<div class="grid-container">
<!-- HERO SECTION BEGIN -->
<section class="hero section">
  <p class="hero-header">CAMELOT CHESS</p>
  <span id="arrows"><%= image_tag "arrow.png", class: "arrows" %></span>
</section>
<!--HERO SECTION END -->

<!-- ABOUT SECTION BEGIN-->
<section class="about section">
  <div class="about-container">
    <p class="about-header">CAMELOT CHESS...</p>
    <p class="about-subheader">from THE KNIGHTS WHO SAY NIL</p>
    <p class="about-text">The capstone of 
<%= link_to "The Firehose Project", "https://www.thefirehoseproject.com" %>, Camelot Chess is an open source chess application built with Ruby on Rails. Our agile team, <%= link_to "The Knights Who Say Nil", "https://github.com/BrandonElder/Camelot-Chess" %>, worked together to build every element of our app from the ground up while improving our development skills.</p>
  </div>
</section>
<!--ABOUT SECTION END-->

<!-- SKILLS & TOOLS SECTION BEGIN -->
<section class="skills section">
  <p class="title">SKILLS</p>
  <p class="subtitle">Full Stack Development Skills To Craft Our Project</p>
  <div class="img-container">
    <div class="img-box">
      <%= image_tag "ruby.png", class: "skills-logos" %>
      <p>RUBY</p>
    </div>
    <div class="img-box">
      <%= image_tag "rails.png", class: "skills-logos" %>
      <p>RAILS</p>
    </div>
    <div class="img-box">
      <%= image_tag "js.png", class: "skills-logos" %>
      <p>JS</p>
    </div>
    <div class="img-box">
      <%= image_tag "html.png", class: "skills-logos" %>
      <p>HTML5</p>
    </div>
    <div class="img-box">
      <%= image_tag "css.png", class: "skills-logos" %>
      <p>CSS3</p>
    </div>
  </div>

  <hr class="skills-hr">

  <p class="title">TOOLKIT</p>
  <p class="subtitle">Management, Communication, Testing &amp; Integration</p>
  <div class="img-container">
    <div class="img-box">
      <%= image_tag "codeship.png", class: "skills-logos" %>
      <p>CODESHIP</p>
    </div>
    <div class="img-box">
      <%= image_tag "rubocop.png", class: "skills-logos" %>
      <p>RUBOCOP</p>
    </div>
    <div class="img-box">
      <%= image_tag "github.png", class: "skills-logos" %>
      <p>GITHUB</p>
    </div>
    <div class="img-box">
      <%= image_tag "rspec.png", class: "skills-logos" %>
      <p>RSPEC</p>
    </div>      
    <div class="img-box">
      <%= image_tag "trello.png", class: "skills-logos" %>
      <p>TRELLO</p>
    </div>
    <div class="img-box">
      <%= image_tag "slack.png", class: "skills-logos" %>
      <p>SLACK</p>
    </div>
  </div>
</section>
<!-- SKILLS & TOOLS SECTION END -->

<!-- TEAM SECTION BEGIN -->
<section class="team section">
  <p class="title">OUR TEAM</p>
  <p class="subtitle">The Knights Who Say Nil</p>
  <div class="img-container">
    <div class="img-box">
      <%= image_tag "bran.png", class: "team-logos" %>
      <p>Brandon</p>
    </div>
    <div class="img-box">
      <%= image_tag "con.png", class: "team-logos" %>
      <p>Conner</p>
    </div>
    <div class="img-box">
      <%= image_tag "tim.png", class: "team-logos" %>
      <p>Timothy</p>
    </div>
    <div class="img-box">
      <%= image_tag "kat.png", class: "team-logos" %>
      <p>Katie</p>
    </div>
    <div class="img-box">
      <%= image_tag "lad.png", class: "team-logos" %>
      <p>Ladislav</p>
    </div>
  </div>
</section>
<!-- TEAM SECTION END -->
</div>