<div class="dashboard-container">
  <div class="dashboard-user-section">
    <div class="dashboard-user-title">
      <h1> Welcome, <%= current_user.username %>! </h1>
      <h2> Member since <%= current_user.created_at.strftime("%B %d, %Y") %> </h2>
      <h2> Last logged in on <%=current_user.last_sign_in_at.strftime("%B %d, %Y") %></h2>
    </div>
  </div>
  <%= render 'users/my-games' %>
  <%= render 'users/open-games' %> 
</div>
  