<!DOCTYPE html>
<html>
  <head>
    <title>Camelotchess</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'true' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'true' %>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700,800|Roboto:300,400,500,700" rel="stylesheet">
  </head>
  <body>
    <%= render 'layouts/navbar' %>
    <%= render 'layouts/flash' %>  
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
